.ChangeItHere
  .textbox-div.hundred
      .main.container
          ul
            li
              .title-box
                  h1.row.title.center-block WELCOME TO 
                      span FOREAVIATION
                  br
                  p.caption GLOBAL PLATFORM TO REACH THE WORLD OF AVIATION WITH QUICKER AND SMARTER WAY
            li
              .box.center-block
                  
                  form.data(name="data" method='' )
                      div.form-group.row
                      
                           input#name.form-control.center-block(type='text', placeholder='full name' name='name')
                      div.form-group.row
                       
                         input#email.form-control.center-block(type='email', placeholder='name@email.com' name='email')
                      div.form-group.row
                       
                         input#phonenumber.form-control.center-block(type='number', placeholder='contact number' name='contactnumber')
                      div.form-group.row
                       
                          textarea#message.form-control.center-block(type='text', placeholder='Message' name='message', maxlength=500)
                      button.btn.btn-primary(type='submit') Submit
