@import 'z-indeces';
@import 'background';
@import 'textbox';
@import 'footer';
//@import 'fa/font-awesome'
//html
*{
    padding: 0;
    margin: 0;
}img{
    background-repeat: no-repeat;
}
body{
    //max-height: 100vh!important;
    min-height: 531px;
    height:100vh!important;
    offset-block-end: 0px!important;
}
html{
    height: 100vh!important;
}
   //media queries
    @media only screen and (min-width : 320px) {
        .main{
            padding-top: 5%;
            transform: scale(0.85);
        }
        .box{
            width: 98%;
            padding: 3%;
            .form-control{
                width:90%;
                }
              }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 420px) {
.main{
            padding-top: 5%;
             transform: scale(0.87);
        }
        .box{
            width: 90%;
            padding: 2%;
            .form-control{
                width:92%;
                }
              }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
         .main{
            padding-top: 12%;
             transform: scale(0.9);
        }
        .box{
            width: 50%;
            padding: 2%;
            .form-control{
                width:90%;
                }
              }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
         .main{
            padding-top: 15%;
            padding-inline-start: 10%;
             transform: scale(0.95);
        }
        .box{
            width: 40%;
            padding: 2%;
            .form-control{
                width:95%;
                }
              }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .main{
            padding-top: 10%;
            padding-left: 150px !important;
            transform: scale(1.2);
           
        }
        .box{
            width: 40%;
            padding: 2%;
            .form-control{
                width:98%;
                }
              }
    }

